body {
	background-image: url("guessimage.jpeg");
}

div {
	height: auto;
	background-color: #CCCCCC;
	border-radius: 20px;
	padding: 10px;
}

#header {
	margin: auto;
	width: 50%;
	text-align: center;
	font: bold 40px Arial;
   	text-shadow: 0px 2px 2px #4d4d4d;
	color: white;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 50px 0px #99FF99;
}

#inputbox {
	margin: auto;
	color: gray;
	background-color: #CCFFCC;
	box-shadow: 0px 0px 50px 0px #CCCCCC;
	text-align: center;
	font-family: Arial;
	margin-bottom: 20px;
}

#status {
	color: red;
}

span {
	color: black;
	font-weight: bold;
}

input {
	height: 50px;
	width: 200px;
	border-radius: 10px;
	font-family: Arial;
	font-size: 15px;
	text-align: center;
	margin-bottom: 5px;
}

button {
	height: 50px;
	width: 100px;
	border-radius: 10px;
	font-family: Arial;
	font-size: 15px;
	text-align: center;
	background-color: #FFFFCC;
	margin-bottom: 5px;
}

button:hover {
	background-color: white;
}

#history {
	width: 40%;
	text-align: left;
	font-family: Arial;
	font-size: 18px;
	bottom: 0%;
	left: 0%;
	background-color: #FFFFCC;
	box-shadow: 0px 0px 50px 0px #CCCCCC;
	padding: 1px 20px 10px 20px;
	display: none;
}

#footer {
	width: 300px;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	box-shadow: 0px 0px 50px 0px #99FF99;
	position: fixed;
	bottom: 0%;
	right: 0%;
	display: none;
}

#footer p {
	margin-bottom: 5px;
}

a {
	font: 15px Arial;
	color: blue;
	vertical-align: bottom;
}

.congrats {
	display: none;
}